In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print("ğŸ‘½ Hello.")

ğŸ‘½ Hello.

In [2]:
import os

csv_file_path = os.getenv('HOME')+'/project/modulab2/trade.csv'
trade = pd.read_csv(csv_file_path) 
trade.head()

          ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜        ìˆ˜ì¶œê¸ˆì•¡      ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡       ë¬´ì—­ìˆ˜ì§€  ê¸°íƒ€ì‚¬í•­
0  2015ë…„ 01ì›”  ì¤‘êµ­  116932.0  12083947.0  334522.0  8143271.0  3940676.0   NaN
1  2015ë…„ 01ì›”  ë¯¸êµ­   65888.0   5561545.0  509564.0  3625062.0  1936484.0   NaN
2  2015ë…„ 01ì›”  ì¼ë³¸   54017.0   2251307.0   82480.0  3827247.0 -1575940.0   NaN
3  2015ë…„ 02ì›”  ì¤‘êµ­   86228.0   9927642.0  209100.0  6980874.0  2946768.0   NaN
4  2015ë…„ 02ì›”  ë¯¸êµ­   60225.0   5021264.0  428678.0  2998216.0  2023048.0   NaN

 - ì¤‘ë³µëœ ë°ì´í„°ë¥¼ ì°¾ì•„ ì œê±°í•  ìˆ˜ ìˆê³ , ê²°ì¸¡ì¹˜(missing data)ë¥¼ ì œê±°í•˜ê±°ë‚˜ ì±„ì›Œ ë„£ì„ ìˆ˜ ìˆë‹¤.
 - ë°ì´í„°ë¥¼ ì •ê·œí™”ì‹œí‚¬ ìˆ˜ ìˆë‹¤.
 - ì´ìƒì¹˜(outlier)ë¥¼ ì°¾ê³ , ì´ë¥¼ ì²˜ë¦¬í•  ìˆ˜ ìˆë‹¤.
 - ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ì›-í•« ì¸ì½”ë”©í•  ìˆ˜ ìˆë‹¤.
 - ì—°ì†ì ì¸ ë°ì´í„°ë¥¼ êµ¬ê°„ìœ¼ë¡œ ë‚˜ëˆ  ë²”ì£¼í˜• ë°ì´í„°ë¡œ ë³€í™˜í•  ìˆ˜ ìˆë‹¤.

In [3]:
print('ì „ì²´ ë°ì´í„° ê±´ìˆ˜:', len(trade))

ì „ì²´ ë°ì´í„° ê±´ìˆ˜: 199

In [4]:
print('ì»¬ëŸ¼ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜')
len(trade) - trade.count()

ì»¬ëŸ¼ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜

ê¸°ê°„        0
êµ­ê°€ëª…       0
ìˆ˜ì¶œê±´ìˆ˜      3
ìˆ˜ì¶œê¸ˆì•¡      4
ìˆ˜ì…ê±´ìˆ˜      3
ìˆ˜ì…ê¸ˆì•¡      3
ë¬´ì—­ìˆ˜ì§€      4
ê¸°íƒ€ì‚¬í•­    199
dtype: int64

In [5]:
trade = trade.drop('ê¸°íƒ€ì‚¬í•­', axis=1)
trade.head()

          ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜        ìˆ˜ì¶œê¸ˆì•¡      ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡       ë¬´ì—­ìˆ˜ì§€
0  2015ë…„ 01ì›”  ì¤‘êµ­  116932.0  12083947.0  334522.0  8143271.0  3940676.0
1  2015ë…„ 01ì›”  ë¯¸êµ­   65888.0   5561545.0  509564.0  3625062.0  1936484.0
2  2015ë…„ 01ì›”  ì¼ë³¸   54017.0   2251307.0   82480.0  3827247.0 -1575940.0
3  2015ë…„ 02ì›”  ì¤‘êµ­   86228.0   9927642.0  209100.0  6980874.0  2946768.0
4  2015ë…„ 02ì›”  ë¯¸êµ­   60225.0   5021264.0  428678.0  2998216.0  2023048.0

In [6]:
trade.isnull()

        ê¸°ê°„    êµ­ê°€ëª…   ìˆ˜ì¶œê±´ìˆ˜   ìˆ˜ì¶œê¸ˆì•¡   ìˆ˜ì…ê±´ìˆ˜   ìˆ˜ì…ê¸ˆì•¡   ë¬´ì—­ìˆ˜ì§€
0    False  False  False  False  False  False  False
1    False  False  False  False  False  False  False
2    False  False  False  False  False  False  False
3    False  False  False  False  False  False  False
4    False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...
194  False  False  False  False  False  False  False
195  False  False  False  False  False  False  False
196  False  False   True   True   True   True   True
197  False  False   True   True   True   True   True
198  False  False   True   True   True   True   True

[199 rows x 7 columns]

In [7]:
trade.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
194    False
195    False
196     True
197     True
198     True
Length: 199, dtype: bool

In [8]:
trade[trade.isnull().any(axis=1)]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜  ìˆ˜ì¶œê¸ˆì•¡       ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡  ë¬´ì—­ìˆ˜ì§€
191  2020ë…„ 04ì›”  ë¯¸êµ­  105360.0   NaN  1141118.0  5038739.0   NaN
196  2020ë…„ 06ì›”  ì¤‘êµ­       NaN   NaN        NaN        NaN   NaN
197  2020ë…„ 06ì›”  ë¯¸êµ­       NaN   NaN        NaN        NaN   NaN
198  2020ë…„ 06ì›”  ì¼ë³¸       NaN   NaN        NaN        NaN   NaN

ìš°ì„  'ìˆ˜ì¶œê±´ìˆ˜', 'ìˆ˜ì¶œê¸ˆì•¡', 'ìˆ˜ì…ê±´ìˆ˜', 'ìˆ˜ì…ê¸ˆì•¡', 'ë¬´ì—­ìˆ˜ì§€' ì—´ì´ ëª¨ë‘ ê²°ì¸¡ì¹˜ì¸ index 196, 197, 198ì„ ì‚­ì œ

In [9]:
trade.dropna(how='all', subset=['ìˆ˜ì¶œê±´ìˆ˜', 'ìˆ˜ì¶œê¸ˆì•¡', 'ìˆ˜ì…ê±´ìˆ˜', 'ìˆ˜ì…ê¸ˆì•¡', 'ë¬´ì—­ìˆ˜ì§€'], inplace=True)
print("ğŸ‘½ It's okay, no biggie.")

ğŸ‘½ It's okay, no biggie.

DataFrameì˜ dropnaëŠ” ê²°ì¸¡ì¹˜ë¥¼ ì‚­ì œí•´ì£¼ëŠ” ë©”ì„œë“œì…ë‹ˆë‹¤.
 - subset ì˜µì…˜ìœ¼ë¡œ íŠ¹ì • ì»¬ëŸ¼ë“¤ì„ ì„ íƒí–ˆìŠµë‹ˆë‹¤.
 - how ì˜µì…˜ìœ¼ë¡œ ì„ íƒí•œ ì»¬ëŸ¼ ì „ë¶€ê°€ ê²°ì¸¡ì¹˜ì¸ í–‰ì„ ì‚­ì œí•˜ê² ë‹¤ëŠ” ì˜ë¯¸ë¡œ 'all'ì„ ì„ íƒí•©ë‹ˆë‹¤. ('any': í•˜ë‚˜ë¼ë„ ê²°ì¸¡ì¹˜ì¸ ê²½ìš°)
 - inplace ì˜µì…˜ìœ¼ë¡œ í•´ë‹¹ DataFrame ë‚´ë¶€ì— ë°”ë¡œ ì ìš©ì‹œì¼°ìŠµë‹ˆë‹¤.

In [10]:
trade[trade.isnull().any(axis=1)]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜  ìˆ˜ì¶œê¸ˆì•¡       ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡  ë¬´ì—­ìˆ˜ì§€
191  2020ë…„ 04ì›”  ë¯¸êµ­  105360.0   NaN  1141118.0  5038739.0   NaN

index 191ê³¼ ê°™ì´ ìˆ˜ì¹˜í˜• ë°ì´í„°ë¥¼ ë³´ì™„í•  ë°©ë²•ì€ ë§ìŠµë‹ˆë‹¤.

1. íŠ¹ì • ê°’ì„ ì§€ì •í•´ì¤„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ê·¸ëŸ¬ë‚˜ ê²°ì¸¡ì¹˜ê°€ ë§ì€ ê²½ìš°, ëª¨ë‘ ê°™ì€ ê°’ìœ¼ë¡œ ëŒ€ì²´í•œë‹¤ë©´ ë°ì´í„°ì˜ ë¶„ì‚°ì´ ì‹¤ì œë³´ë‹¤ ì‘ì•„ì§€ëŠ” ë¬¸ì œê°€ ìƒê¸¸ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

2. í‰ê· , ì¤‘ì•™ê°’ ë“±ìœ¼ë¡œ ëŒ€ì²´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 1ë²ˆì—ì„œ íŠ¹ì • ê°’ìœ¼ë¡œ ëŒ€ì²´í–ˆì„ ë•Œì™€ ë§ˆì°¬ê°€ì§€ë¡œ ê²°ì¸¡ì¹˜ê°€ ë§ì€ ê²½ìš° ë°ì´í„°ì˜ ë¶„ì‚°ì´ ì‹¤ì œë³´ë‹¤ ì‘ì•„ì§€ëŠ” ë¬¸ì œê°€ ë°œìƒí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

3. ë‹¤ë¥¸ ë°ì´í„°ë¥¼ ì´ìš©í•´ ì˜ˆì¸¡ê°’ìœ¼ë¡œ ëŒ€ì²´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´ ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ë¡œ 2020ë…„ 4ì›” ë¯¸êµ­ì˜ ì˜ˆì¸¡ê°’ì„ ë§Œë“¤ê³ , ì´ ê°’ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ë³´ì™„í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

4. ì‹œê³„ì—´ íŠ¹ì„±ì„ ê°€ì§„ ë°ì´í„°ì˜ ê²½ìš° ì•ë’¤ ë°ì´í„°ë¥¼ í†µí•´ ê²°ì¸¡ì¹˜ë¥¼ ëŒ€ì²´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´ ê¸°ì˜¨ì„ ì¸¡ì •í•˜ëŠ” ì„¼ì„œ ë°ì´í„°ì—ì„œ ê²°ì¸¡ì¹˜ê°€ ë°œìƒí•  ê²½ìš°, ì „í›„ ë°ì´í„°ì˜ í‰ê· ìœ¼ë¡œ ë³´ì™„í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [11]:
trade.loc[[188, 191, 194]]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜       ìˆ˜ì¶œê¸ˆì•¡       ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡       ë¬´ì—­ìˆ˜ì§€
188  2020ë…„ 03ì›”  ë¯¸êµ­   97117.0  7292838.0  1368345.0  5388338.0  1904500.0
191  2020ë…„ 04ì›”  ë¯¸êµ­  105360.0        NaN  1141118.0  5038739.0        NaN
194  2020ë…„ 05ì›”  ë¯¸êµ­  126598.0  4600726.0  1157163.0  4286873.0   313853.0

In [12]:
trade.loc[191, 'ìˆ˜ì¶œê¸ˆì•¡'] = (trade.loc[188, 'ìˆ˜ì¶œê¸ˆì•¡'] + trade.loc[194, 'ìˆ˜ì¶œê¸ˆì•¡'] )/2
trade.loc[[191]]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜       ìˆ˜ì¶œê¸ˆì•¡       ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡  ë¬´ì—­ìˆ˜ì§€
191  2020ë…„ 04ì›”  ë¯¸êµ­  105360.0  5946782.0  1141118.0  5038739.0   NaN

In [13]:
trade.loc[191, 'ë¬´ì—­ìˆ˜ì§€'] = trade.loc[191, 'ìˆ˜ì¶œê¸ˆì•¡'] - trade.loc[191, 'ìˆ˜ì…ê¸ˆì•¡'] 
trade.loc[[191]]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜       ìˆ˜ì¶œê¸ˆì•¡       ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡      ë¬´ì—­ìˆ˜ì§€
191  2020ë…„ 04ì›”  ë¯¸êµ­  105360.0  5946782.0  1141118.0  5038739.0  908043.0