In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print("👽 Hello.")

👽 Hello.

In [2]:
import os

csv_file_path = os.getenv('HOME')+'/project/modulab2/trade.csv'
trade = pd.read_csv(csv_file_path) 
trade.head()

          기간 국가명      수출건수        수출금액      수입건수       수입금액       무역수지  기타사항
0  2015년 01월  중국  116932.0  12083947.0  334522.0  8143271.0  3940676.0   NaN
1  2015년 01월  미국   65888.0   5561545.0  509564.0  3625062.0  1936484.0   NaN
2  2015년 01월  일본   54017.0   2251307.0   82480.0  3827247.0 -1575940.0   NaN
3  2015년 02월  중국   86228.0   9927642.0  209100.0  6980874.0  2946768.0   NaN
4  2015년 02월  미국   60225.0   5021264.0  428678.0  2998216.0  2023048.0   NaN

 - 중복된 데이터를 찾아 제거할 수 있고, 결측치(missing data)를 제거하거나 채워 넣을 수 있다.
 - 데이터를 정규화시킬 수 있다.
 - 이상치(outlier)를 찾고, 이를 처리할 수 있다.
 - 범주형 데이터를 원-핫 인코딩할 수 있다.
 - 연속적인 데이터를 구간으로 나눠 범주형 데이터로 변환할 수 있다.

In [3]:
print('전체 데이터 건수:', len(trade))

전체 데이터 건수: 199

In [4]:
print('컬럼별 결측치 개수')
len(trade) - trade.count()

컬럼별 결측치 개수

기간        0
국가명       0
수출건수      3
수출금액      4
수입건수      3
수입금액      3
무역수지      4
기타사항    199
dtype: int64